@font-face {
  font-family: "PublicSans";
  src: url(../../font/PublicSans-Medium.ttf);
}

$font1: PublicSans, serif;

$BleuFonce: hsl(233, 26%, 24%);
$Vert: hsl(136, 65%, 51%);
$BleuClair: hsl(192, 70%, 51%);

$BleuGris: hsl(233, 8%, 62%);
$BleuGrispetit: hsl(220, 16%, 96%);
$UnpeuGris: hsl(0, 0%, 98%);
$Blanc: hsl(0, 0%, 100%);

* {
  font-family: $font1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin Spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: $font1;
  background-color: $BleuClair;
}
button {
  border-radius: 50px;
  background: linear-gradient($Vert, $BleuClair, $BleuFonce);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// main {
//   background-color: gray;
//   padding: 50px;
//   margin: 0 auto;
//   max-width: 1500px;
// }
// .main-2 {
//   display: flex;
//   justify-content: center;
// }
// .main-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 1200px;

//   margin: 0 auto;
//   display: flex;
//   gap: 15px;
// }
// h3 {
//   margin: 20px 0;
// }
// p {
//   width: 80%;
//   display: flex;
//   text-wrap: balance;
// }
// @media screen and (max-width: 1232px) {
//   main {
//     padding: 10px;
//   }
//   p {
//     height: 150px;
//     width: 100%;
//   }
// }
